<a href="https://colab.research.google.com/github/pampamlopes/basic_python/blob/main/analisando_rain_in_australia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset: Rain in Australia

link: https://www.kaggle.com/jsphyg/weather-dataset-rattle-package

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weatherAUS.csv')
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]