<a href="https://colab.research.google.com/github/pampamlopes/basic_python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset: Rain in Australia

link: https://www.kaggle.com/jsphyg/weather-dataset-rattle-package

In [ ]:
#importando bibliotecas
import pandas as pd
import numpy as np

In [ ]:
#lendo um dataset
df = pd.read_csv('weatherAUS.csv')
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [ ]:
#Vendo as ultimas linhas do dataset
df.tail()

        MinTemp  MaxTemp  Rainfall  ...  Temp3pm  RainToday  RainTomorrow
145455      2.8     23.4       0.0  ...     22.4         No            No
145456      3.6     25.3       0.0  ...     24.5         No            No
145457      5.4     26.9       0.0  ...     26.1         No            No
145458      7.8     27.0       0.0  ...     26.0         No            No
145459     14.9      NaN       0.0  ...     20.9         No           NaN

[5 rows x 18 columns]

In [ ]:
#Obtendo informações das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [ ]:
#Obtendo informações sobre o conjunto de dados
df.describe()

             MinTemp        MaxTemp  ...        Temp9am       Temp3pm
count  143975.000000  144199.000000  ...  143693.000000  141851.00000
mean       12.194034      23.221348  ...      16.990631      21.68339
std         6.398495       7.119049  ...       6.488753       6.93665
min        -8.500000      -4.800000  ...      -7.200000      -5.40000
25%         7.600000      17.900000  ...      12.300000      16.60000
50%        12.000000      22.600000  ...      16.700000      21.10000
75%        16.900000      28.200000  ...      21.600000      26.40000
max        33.900000      48.100000  ...      40.200000      46.70000

[8 rows x 16 columns]

In [ ]:
#Verificando as linhas e coluncas do dataset
df.shape

(145460, 23)

In [ ]:
#Consultando dados unicos na coluna
df['WindGustDir'].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', nan, 'ENE',
       'SSE', 'S', 'NW', 'SE', 'ESE', 'E', 'SSW'], dtype=object)

In [ ]:
#Verificando se os valores são unicos
df['RainToday'].is_unique

False

In [ ]:
#Verificando a quantidade de valores diferentes existentes na coluna
df['Sunshine'].nunique()

145

In [ ]:
#Verificando a quantidade de valores existentes na coluna por atributo
df['RainToday'].value_counts()

No     110319
Yes     31880
Name: RainToday, dtype: int64

In [ ]:
#Verificando a quantidade de valores existentes na coluna por atributo
df['RainTomorrow'].value_counts()

No     110316
Yes     31877
Name: RainTomorrow, dtype: int64

In [ ]:
#Verificando a quantidade de valores nulos na coluna
df['Cloud3pm'].isnull().sum()

59358

In [ ]:
#Apagando colunas desnecessárias
df.drop(['Date', 'Location', 'WindGustDir','WindDir9am', 'WindDir3pm'], inplace=True, axis=1)

In [ ]:
df.head(10)

   MinTemp  MaxTemp  Rainfall  ...  Temp3pm  RainToday  RainTomorrow
0     13.4     22.9       0.6  ...     21.8         No            No
1      7.4     25.1       0.0  ...     24.3         No            No
2     12.9     25.7       0.0  ...     23.2         No            No
3      9.2     28.0       0.0  ...     26.5         No            No
4     17.5     32.3       1.0  ...     29.7         No            No
5     14.6     29.7       0.2  ...     28.9         No            No
6     14.3     25.0       0.0  ...     24.6         No            No
7      7.7     26.7       0.0  ...     25.5         No            No
8      9.7     31.9       0.0  ...     30.2         No           Yes
9     13.1     30.1       1.4  ...     28.2        Yes            No

[10 rows x 18 columns]